// Theme Variables

// Colors
$border-color:          #191919;

// background image
div.page-wrapper {
    background-image: url(assets/images/award-transparent.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-position: center;
}

section.intro {
    background-image: url("https://content.screencast.com/users/fg-a/folders/world-flags/media/3249498a-5c88-428c-8e86-f235a37764bd/indonesC.gif");
    background-repeat: no-repeat;
}

div.summary {
    background: linear-gradient(
        #00B29C 0%,
        transparent 33%,
        transparent 66%,
        #008CFF 100%
    );
}

div.preamble {
    background: linear-gradient(
        to right,
        #274A67 0%,
        transparent 33%,
        transparent 66%,
        #274A67 100%
    );
}

div.explanation {
    background: linear-gradient(
        to right,
        #00CDB9 0%,
        transparent 33%,
        transparent 66%,
        red 100%
    );
}

div.participation {
    background: linear-gradient(
        to right,
        blue 0%,
        transparent 33%,
        transparent 66%,
        blue 100%
    );
}

div.benefits {
    background: linear-gradient(
        to right,
        red 0%,
        transparent 33%,
        transparent 66%,
        blue 100%
    );
}

div.requirements {
    background: linear-gradient(
        #00CDB9 0%,
        transparent 33%,
        transparent 66%,
        red 100%
    );
}

// Mixins
@mixin list-items() {
    margin: 0;
    padding: 1em;
    list-style-type: none;
    border: solid $border-color;
    border-radius: 50%;
    text-align: center;
    margin: .5em 0;
}

@mixin display-grid($columns) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin column-position($start, $end) {
    grid-column-start: $start;
    grid-column-end: $end;
}

// Overal Scruture for the Project

.page-wrapper {
    width: 90%;
    margin: 0 auto;
}

header {
    margin-top: 1em;
    border: solid $border-color;
    border-radius: 50%;
    line-height: .6em;
    text-align: center;
}

.summary,
.preamble,
.explanation,
.participation,
.benefits,
.requirements {
    border: solid $border-color;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 1em;
}

nav ul {
    margin: 0;
    padding: 0;

    li {
        @include list-items();
    }

    a {
        text-decoration: none;
    }
}

footer {
    display: flex;
    flex: row wrap;
    justify-content: space-around;
    padding: 1em 0;
}

.zen-resources {
    ul {
        margin: 0;
        padding: 0;

        li {
            @include list-items();
        }

        a {
            text-decoration: none;
        }
    }
}

.sidebar {
  pointer-events: none;

  #design-archives,
  #design-selection,
  #zen-resources {
    pointer-events: all;
  }
}


@media only screen and (min-width: 55em) {
    body {
        font-size: 1.2em;
    }

    .page-wrapper {
        @include display-grid(12);
    }

    .intro {
        @include column-position(3, 11);
    }

    #zen-supporting {
        @include column-position(3, 11);
    }

    .sidebar {
        position: absolute;
        .wrapper {
            @include display-grid(12);

            #design-selection {
                @include column-position(1, 3);
                padding-right: 2em;
            }

            #design-archives {
                @include column-position(10, 13);
                margin-left: 2em;
            }

            #zen-resources {
                @include column-position(10, 13);
                margin-left: 2em;
                position: relative;
                top: -51em;
            }
        }
    }
}

@media only screen and (min-width: 60em) {
    .sidebar {
        .wrapper {
            #design-archives {
                margin-left: 2.5em;
            }

            #zen-resources {
                margin-left: 2.5em;
                top: -42.5em;
            }
        }
    }
}

@media only screen and (min-width: 65em) {
    .sidebar {
        .wrapper {
            #design-archives {
                margin-left: 4em;
            }

            #zen-resources {
                margin-left: 4em;
                top: -30em;
            }
        }
    }
}
